#container {
    display: flex;
    width: 100%;
    font-size: x-large;
    justify-content: space-evenly;
    background-color: #566981 ; 
    color: white;
}

#written {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#paint {
    width: 70%;
    height: 40%;
    justify-content: center;
    display: flex;
    position: relative;
    top: 10%;
}

#container img {
    max-width: 60%;
    display: flex;
    align-self: center;
    max-height: 40%;
    border-radius: 10px;
}